<link rel="stylesheet" href="history-admin.component.css">
<section style="min-height: calc(100vh - 96px);">
  <div class="container-fluid">
    <div class="row h-25">
      <div class="col-lg-2 pt-2 px-0">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                Chức năng
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="list-unstyled">
                  <li><a routerLink="/admin/productAdmin" class="p-2 text-secondary hover:text-primary" type="button">Danh sách sản phẩm</a></li>
                  <li><a  routerLink="/admin/infoAdmin" class="p-2 text-secondary hover:text-primary" type="button">Danh sách người dùng</a></li>
                  <li><a routerLink="/admin/historyAdmin" class="p-2 text-secondary hover:text-primary" type="button">Xem lịch sử giao dịch</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-10">
        <div class="row">
          <div class="container">
            <div class="section-title">
              <h2>Lịch Sử</h2>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">UserName</th>
                  <th scope="col">Date</th>
                  <th scope="col">Totalbill</th>
                  <th scope="col">Chi Tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let bill of bills">
                  <td>{{ bill.name }}</td>
                  <td>{{ bill.date | date:'dd/MM/yyyy' }}</td>
                  <td>{{ bill.totalBill }}</td>
                  <td><a data-bs-toggle="modal" data-bs-target="#myModal">Xem chi tiết</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




